*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-all{
    width: 100%;
    margin: auto;
}

.header-container-1{
    background-color: #255ee9;
}


.sotto-container-header-1{
    width: 65%;
    min-height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}


ul >* {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    color: white;
}

header ul > li{
    display: inline-block;
}

.link{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    display: inline-block;
}

.logo , .login{
    display: flex;
    min-width: 25%;
}

.login-border{
    display: flex;
    justify-content: center;
}

.bottom-header{
    background-image: url(../img/jumbo.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
}

.header-container-2{
    min-height: 600px;
    display: flex;
}

.sotto-container-header-2{
    width: 60%;
    min-height: 500px;
    margin: auto;
}

.titolo-1 , .paragrafo-1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.bottoni-1-2-header{
    display: flex;
    justify-content: center;
}

.bottone-header-1 , .bottone-header-2{
    background-color: white;
    color: black;
    font-size: 18px;
    border: 40px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    }

.bottone-header-2{
    background-color: black;
    color: white;
}

.main-container-1{
    min-height: 600px;
    background-color: white;
    display: flex;
}

.main-container-1 > .sotto-container-main-1-azzurro{
    width: 40%;
    min-height: 500px;
    margin: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container-1 > .sotto-container-main-1-rosa{
    width: 25%;
    min-height: 500px;
    margin: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titolo-principale{
    text-align: center;

}

.paragrafo{
    margin-top: 20px;
    text-align: center;
}

.main-container-2{
    min-height: 600px;
    background-color: lightgray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.main-container-2 > .sotto-container-main-1-azzurro{
    width: 40%;
    min-height: 500px;
    margin: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container-2 > .sotto-container-main-1-rosa{
    width: 25%;
    min-height: 500px;
    margin: auto;
    margin-right: 0;
}

.main-container-4{
    min-height: 700px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

.main-container-4 > .sotto-container-main-4-verde{
    width: 60%;
    min-height: 900px;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.h1-special , .paragrafo-special{
    text-align: center;
}

.paragrafo-special{
    margin-top: 20px;
}

.h1-fine-main{
    margin-bottom: 20px;
}

.bottone-fine-main{
    color: white;
    font-size: 18px;
    border: 40px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(110, 110, 255);
}

.footer-container-1{
    min-height: 600px;
    background-color: rgb(34, 32, 32);
    display: flex;
    justify-content: center;
}

.sotto-container-footer-1{
    width: 25%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.dimensioni-bandiera-italia{
    width: 23px;
    vertical-align: middle;
}

.h2-color-blue{
    color: rgb(13, 104, 223);
}

.loghi-social, .span-white{
    color: white;
    margin: 10px;
    margin-left: 0;
}

.logo-margine{
    margin-right: 20px;
    font-size: 20px;
}


.sotto-container-footer-2{
    width: 15%;
    min-height: 550px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.primo-elemento-lista{
    color: rgb(13, 104, 223);
}

ul>*{
    color: white;
    font-size: 18px;
    margin: 10px;
}

.footer-container-2{
    min-height: 70px;
    background-color: rgb(34, 32, 32);
    padding: 20px;
    margin: auto;
}

.sotto-container-footer-3{
    width: 65%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sotto-container-footer-1{
    margin-top: 30px;
}

.bottone-fine-footer{
    color: white;
    font-size: 18px;
    border: 40px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(110, 110, 255);
}